doctype html
html
    head
        meta(charset='UTF-8')
        title Create Survey
        script(src='/static/js/base.js')
        script(src='/static/js/create.js')
        link(rel='stylesheet' href='/static/css/create.css')
        include bootstrap_css_import
    body
        include header
        #root
            form(name='surveyBuilder' onsubmit='createSurvey(); return false;')
                .mb-3
                    label.form-label(for='inputTitle') Название опроса
                    input#inputTitle.form-control(type='text' aria-describedby='titleHelp' name='surveyTitle' required='')
                    #titleHelp.form-text Короткое название опроса / формулировка вопроса
                .form-group.mb-5
                    label.form-label(for='inputDescription') Более полное описание сути опроса
                    textarea#inputDescription.form-control.rounded-0(rows='3' aria-describedby='descriptionHelp' name='surveyDescription')
                    #descriptionHelp.form-text Если необходимо добавьте более развёрнутое описание вопроса
                .row
                    .col
                        label.form-label(for='typeSurvey') Выберите тип опроса
                        select#typeSurvey.form-select(aria-label='Выберите тип опроса' name='typeSurveyField' required='')
                            option(value='') ...
                            option(value='checkbox') Множественный выбор
                            option(value='radio') Одиночный выбор
                    .col.mb-5
                        #card_inputs
                            label.form-label(for='groupInputs') Варианты ответов
                            #groupInputs.input-group.input_instrument
                                input.form-control.mb-1.inputAnswer(type='text' placeholder='Текст' aria-label='Example text with button addon' aria-describedby='button-addon1' required='')
                                .input-group-prepend
                                    button#button-addon1.btn.btn-outline-secondary.btn-danger(type='button' onclick='delete_input.apply(this)') -
                            button#add_input.btn.btn-secondary.btn-sm.btn-block(type='button') +
                    .row
                        .col
                            label.form-label(for='colorChoice') Цвет карточки
                            select#colorChoice.form-select(name='colorCh' aria-label='Цвет карточки')
                                option(value='bg-light' selected='') Светлый
                                option(value='bg-danger') Красный
                                option(value='bg-dark') Тёмный
                        .col
                            label.form-label(for='colorChoice') Цвет текста
                            select.form-select(name='txtCh' aria-label='Цвет текста')
                                option(value='text-black' selected='') Чёрный
                                option(value='text-white') Белый
                    button.btn.btn-success.mt-5(type='submit') Создать

        include bootstrap_js_import
