nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href="/") Опросы
        button.navbar-toggler(type="button", data-bs-toggle="collapse",
            data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false",
            aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current="page", href="/") Домой
                li.nav-item
                    a.nav-link(href="/createSurvey") Создать опрос
                li.nav-item
                    a.nav-link(href="/results", tabindex="-1") Пройденные опросы
            form.d-flex(novalidate=true)
                button.btn.btn-outline-success.me-2(onclick="logout()", type="button") Выход