<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Опросы</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createSurvey">Создать опрос</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results" tabindex="-1" >Пройденные опросы</a>
                </li>
            </ul>
            <div class="text-white d-flex mr-1">@<span id="login-field">asdasd</span></div>
            <script>updateUserName();</script>
            <form class="d-flex" novalidate>
                <button class="btn btn-outline-success me-2" onclick="logout()" type="button">Выход</button>
            </form>
        </div>
    </div>
</nav>