doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Login page
        script(src='/static/js/base.js')
        script(src='/static/js/login.js')
        include bootstrap_css_import
        link(rel='stylesheet' href='/static/css/login.css')
    body
        .card.login-card
            .card-header
                h5 Авторизация
            .card-body
                form(name='login')
                    .mb-3
                        label.form-label(for='exampleInputEmail1') Логин:
                        input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' name='username')
                        label.form-label(for='exampleInputEmail1') Пароль:
                        input#exampleInputPassword1.form-control(type='password' aria-describedby='emailHelp' name='password')
                        #emailHelp.form-text Введите логин и пароль
                        #error Введён неверный логин или пароль
                    button.btn.btn-success(type='button' onclick='tryLogin(); return false;') Войти
                    button.btn.btn-outline-success(type='button' onclick='tryRegister(); return false;') Зарегистрироваться
