<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
    <div class="card-footer" onsubmit="tryLogin(); return false;">
        <h5>Авторизация</h5>
        <form name="login">
            <label for="login"><input type="text" name="userid"> Логин</label>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>