doctype html
html
    head
        meta(charset='UTF-8')
        title Hello world
        include bootstrap_css_import
        link(rel='stylesheet' href='/static/css/hello.css')
        script(src='/static/js/base.js')
    body
        include header
        #root
        script(src='/static/js/results.js' async='')
        include bootstrap_js_import
